{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "backtick"],
        "semi": ["error", "always"],
        "no-var": "error"
    }
}