@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html {
    --bg-base-color: #c14040;
    --bg-nav-color: #efe3e3;
    --bg-card-color: #982c2c;
}

body {
    color: white;
    background-color: var(--bg-base-color);
    padding: 10px 20px;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: var(--bg-nav-color);
    border-radius: 20px;
    padding: 0 25px 0 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

nav a {
    color: var(--bg-base-color);
    line-height: 3.5rem;
    display: block;
    padding: 0 10px 0 10px;
}

nav a:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

nav ul {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 1.8rem;
}

.cards-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.cards-list h2 {
    font-size: 1.3rem;
    line-height: 2rem;
}

.detail h2,
.detail h3,
.detail h4 {
    font-size: 2.4rem;
    margin: 30px 0;
    font-weight: bold;
    text-align: center;
}

.card {
    color: white;
    display: block;
    background-color: var(--bg-card-color);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    max-width: 33%;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 3px 20px black;
    transform: rotate(-3deg);
}

.card img {
    width: 100%;
}

.card-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 40px;
}

.card-detail > div {
    text-align: left;
    background-color: var(--bg-card-color);
    border-radius: 10px;
    padding: 20px 20px;
    margin-left: 20px;
    width: 100%;
    max-width: 600px
}

.card-detail h3,
.card-detail h4 {
    font-size: 1.5rem;
    text-align: left;
    margin: 30px 0;
}

.card-detail h4 {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.card-detail ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;;
}

.tag {
    display: block;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.card-detail table {
    width: 100%;
}

.card-detail table td {
    padding: 4px 0;
    vertical-align: middle;
}

.card-detail table td.barometer {
    width: 60%;
}

.card-detail .max-level {
    width: 100%;
    height: 25px;
    background-color: #632b2b;
    border-radius: 4px;
    overflow: hidden;
}

.card-detail .level {
    background-color: white;
    height: 100%;
}

.types-list p {
    text-align: left;
    margin: 20px 0;
}

.types-list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.types-list ul li {
    margin: 5px;
    width: calc(25% - 10px);
}

.types-list a {
    padding: 1.2rem 0;
    transition: 0.2s;
}

.types-list a:hover {
    filter: brightness(1.2);
}